body {
    background-color: pink;
}
.gender {
    float: left;
    margin: 20px;
}
.center{
    display: block;
    float: left;
}
.html {
    display:flex;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1 {
    display: flex;
    background-color:#ba6eea;
    margin: auto;
    text-align:left;
    height: 200px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}
.box2 {
    display: flex;
    background-color:#ba6eea;
    text-align: left;
    margin: auto;
    height: 200px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}
.box3 {
    display: flex;
    background-color:#ba6eea;
    text-align: left;
    margin: auto;
    height: 200px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}
* {
    box-sizing: border-box;
    border-radius: 10px;
}
.topnav {
    overflow: hidden;
    background-color: rgb(0, 0, 0);

}
.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 15px 15px;
}
.topnav a:hover {
    background-color: grey;
    color: black
}
@media screen and (max-width: 900px) {
    .topnav a{
        float:none;
        width: 100%;
    }
}
@media only screen and (max-width:900px) {
    body { 
        background-color: rgb(173, 210, 233);
    }
}
@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction:column;
    }
}
fieldset {
    border-radius: 10px;
}
