@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body {
    background-image: url("background2.jpeg");
    background-size:cover;
}
.info {
    color:rgba(112, 2, 57, 0.875);
}
legend {
    background-color: rgb(134, 22, 89);
    font-size: 20px;
    color:white;
    border-radius: 10px;
}
fieldset {
    background-color: pink;
    margin: auto;
    display: inline-block;
    text-align: center;
}
div {
    text-align: center;
}
h2 {
    text-align: center;
}
table { 
    background-color: pink;
}